:root {
	--gap: 1em;
	--column: 1;
	--color-text: #fff;
	--color-dropdown: #000;
	--radius: 0.4rem;
	--margin-bottom: 0.4rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 1em;
}

img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 0.5em;
	cursor: zoom-in;
}

.space-b {
	margin-bottom: 1em;
}

.container {
	max-width: 80rem;
	margin-inline: auto;
	isolation: isolate;
}

.search-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.inputSearch {
	width: 11rem;
	display: flex;
	align-items: center;
	gap: 0.4em;
	padding: 0.4rem 0.8rem;
	border-radius: var(--radius);
	border: 1px solid rgba(0, 0, 0, 0.4);
}

.inputSearch:focus-within {
	border: 1px solid rgba(0, 0, 0, 0.8);
}

input {
	width: 100%;
	padding-block: 0.2em;
	border: none;
}

input:focus {
	outline: none;
}

.grid {
	display: column;
	columns: var(--column);
	gap: var(--gap);
	align-tracks: stretch;
}

.grid > * {
	break-inside: avoid;
	margin-bottom: var(--gap);
}

.custumize-btns {
	position: relative;
}

.custumize-btns > .grid-icon {
	cursor: pointer;
}

@supports (grid-template-rows: masonry) {
	.grid {
		display: grid;
		grid-template-columns: repeat(var(--column), auto);
		grid-template-rows: masonry;
		grid-auto-columns: dense;
		gap: var(--gap);
	}

	.grid > * {
		margin-bottom: 0;
	}
}

@media (min-width: 420px) {
	:root {
		--column: 2;
	}
}
@media (min-width: 460px) {
	.inputSearch {
		width: 20rem;
	}
}
@media (min-width: 600px) {
	:root {
		--column: 3;
	}
}
@media (min-width: 900px) {
	:root {
		--column: 4;
	}
}
